<div class="row navbar player-extra-spacing" id="navbar" data-turbolinks-permanent>

  <div class="three columns">
    <a href="/"><div class="logo"></div></a>
  </div>

  <div class="one columns">&nbsp;
    <div class="vert-divider"></div>
  </div>

  <div class="two columns">
    <ul class="navbar-list">
	    <li><%= link_to 'ABOUT', '/about' %></li>
	    <li><%= link_to 'HISTORY', '/history' %></li>
      <li><%= link_to 'STAFF', '/staff' %></li>
	    <!-- <li><%= link_to 'RECORDING STUDIO', '/recording-studio' %></li> -->
	</ul>
  </div>

  <div class="two columns">
	<ul class="navbar-list">
    	<li><%= link_to 'SCHEDULE', 'https://docs.google.com/spreadsheets/d/1QSUZsRtJ3fQAG0Rj474JJdeG388e2L6xMwZQD-pxVUI/pubhtml' %></li>
    	<!-- <li><%= link_to 'DISK JOCKEYS', '/disk-jockeys' %></li> -->
    	<!-- <li><%= link_to 'VISITING ARTISTS', '/visiting-artists' %></li> -->
    </ul>
  </div>

  <div class="two columns">
  	<ul class="navbar-list">
  		<li><%= link_to 'SPONSORSHIP', '/sponsorship' %></li>
  		<!-- <li><%= link_to 'TOP CHARTS', '/top-charts' %></li> -->
  		<li><%= link_to 'YOUR MUSIC', '/your-music' %></li>
  		
    </ul>
  </div>

  <div class="two columns">
  	<ul class="navbar-list">
  		<!-- <li><%= link_to 'UNDERWRITING', '/underwriting' %></li> -->
  		<!-- <li><%= link_to 'TECHNOLOGY', '/technology' %></li> -->
  		<li><%= link_to 'CONTACT', '/contact' %></li>
    </ul>
  </div>

</div>
