<div class="row">
	
	<div class="twelve columns covercontainer">
		<%= tag :img, :src => "http://media.wjrh.org/vbb/vbb-cover.jpg", :class => "coverimage" %>
	</div>
</div>
<div class="row program-info">
	<div class="twelve columns">
		<h1><%= program['name'] %></h1>
	</div>
	<div class="ten columns offset-by-one">
		<p><% if not program['description'].nil?%> <%= Tilt['markdown'].new { program['description'] }.render  %> <% end %></p>
	</div>
</div>

	<div class="program-episodes">
		<% program['episodes'].reverse.each do |episode| %>
		<div class="row">
			<div class="three columns offset-by-one">
				<%= tag :img, :src => episode['image'], :style => "width: 100%" %>
			</div>
			<div class="seven columns">
					<h3><%= episode['name'] %></h3>
					<p><strong>Length:</strong> <%= episode['medias'].first["length"] %>, <strong>Released on</strong> <%= DateTime.parse(episode['pubdate']).strftime("%A, %B %e, %Y") %></p>
					<p><%= episode['description'] %></p>
					<% episode['medias'].each do |media| %>
						<audio class="episode-audio" controls preload="none">
						  <source src="<%= media["url"] %>" type="<%= media["type"] %>">
						</audio>

					<% end %>
			</div>
		</div>
		<div class="line ten columns offset-by-one"></div>
	<% end %>
</div>
