---
title: WJRH
---

<div class="row">
	<div class="twelve columns">
		<%= tag :img, :src =>  data.domains.media + "/website-highlight/artist5.jpg"%>
		<!-- <video src="<%= data.domains.media %>/video/pardee.mp4" autoplay loop muted width="960"></video> -->
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1 >Morningsiders</h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p>Last time we saw the New York American folk band <a href="http://wearemorningsiders.com/">Morningsiders</a> on campus was Fall 2013 when they wowed the audience as they sang harmonies backed by fiddle, guitars, bass and drums. Come and join us for their second concert at Lafayette on November 13 at 8PM at the Kirby House. <a href="https://calendar.lafayette.edu/node/15606">Learn more.</a></p>
	</div>
</div>


<!-- <div class="row featured">
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/disco.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 5PM</h6>
		<h4>BassIQ Radio with Saleem James</h4>
		<p>From dance to electronic to lounge, Saleem James presents his eclectic taste in music in this show. Perfect for speeding on the autobahn or for romanticizing a life on another planet, or maybe just in another country.</p>
	</div>
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/newspaper.mp4" autoplay loop muted width="300"></video>
		<h6>Special Report</h6>
		<h4><a href="http://newspaper.wjrh.org">Situation of the Newspaper  <i class="fa fa-external-link"></i></a></h4>
		<p>The Lafayette, the oldest student newspaper in Pennsylvania, came up with an unexpected announcement saying that they are in threat of shutting down because of underfunding. Listen to a response from the Student Government Treasurer Ricky Lanzilotti. Interview by Ivan Evtimov and The Jay.</p>
	</div>
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/indie.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 4PM</h6>
		<h4>Indie Dependent with DJ El Train</h4>
		<p>A source of all things indie and obscure, Indie Dependent aims to bring music you may not have heard to your ears. Some of it's mellow and chill, some of it's odd and off-the-wall, and all of it's less than mainstream. Listen to Indie Dependent every Monday at 4 pm and you're guaranteed to stay weird.</p>
	</div>
</div> -->
