<%-# THIS FILE USES THE DATA FROM THE DATA FOLDER TO AUTOMATICALLY ADD STAFF MEMBERS GO CHANGE POSITIONS AND BOARD MEMBERS THERE PLEASE THANK YOU-%>
<div class="row">
	<div class="twelve columns">
		<%= tag :img, :src =>  data.domains.media + "/website-highlight/culture2.jpg"%>
	</div>
</div>
<div class="row main-title">
	<div class="eight columns offset-by-two columns">
		<h1>People</h3>
	</div>
	<div class="eight columns offset-by-two column">
		<p>We're a 100% student run volunteer based organization and we're one of the biggest organizations on the Lafayette College. We have a board that handles coordination and allocation of resources. We're organized lightly and in a flat structure. The board meets every Wednesday that is also a school day at 5 in the station.</p>
	</div>
</div>

<% data.staff.board.each_slice(4) do |member_group| %>
	<div class="row">
		<% member_group.each do |member| %>
			<div class="three columns">
				<%= tag :img, :src =>  data.domains.media + "/board-headshot/" +member.image, :style => "width:100%" %>
		  		<strong><%= member.name %> '<%= member.year %></strong><br>
		  		<%= member.role %>
		  	</div>
	  	<% end %>
  	</div>
<% end %>
